.btn-video {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 50px;
    width: 50px;
    background-color: var(--color-gray-fourth);
    color: #fff;
    border-radius: 50%;
}
.btn-video svg {
    font-size: 30px;
}