:root {
    --background-color: #000;
    --border-color: #3b3b3b;
    --color-blue: #2997ff;
    --color-dark-blue: #0a58ca;
    --color-gray-primary: #86868b;
    --color-gray-secondary: #94928b;
    --color-gray-third: #afafaf;
    --color-gray-fourth: #42424570;
    --color-zinc: #101010;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: var(--background-color);
    border-color: var(--border-color);
    user-select: none;
    overflow-x: hidden;
    
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
p {
    margin: 0;
}
video {
    pointer-events: none;
}